# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Virtual environments
venv/
.env/

# Node / frontend
node_modules/
dist/
build/

# Git
.git/
.gitignore

# OS / editor files
.DS_Store
.vscode/
.idea/

# Model files accidentally added
*.pt
*.pth
*.onnx
*.bin
*.h5

# Cache
*.cache/
.cache/
